name: CI Execução de exemplos de teste de performance
on:
  push:
    branches: [ sample ]
  pull_request:
    branches: [ main ]
jobs:
  perfSamples:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Transpile and bundle test script
        run: yarn webpack
      - name: Install K6
        run: yarn intall
      - name: Run local k6 test
        run: ./k6 run dist/get-200-status-test.js
