name: Sample k6-action
on:
  push:
    branches: [ sample ]
  pull_request:
    branches: [ sample ]
jobs:
  perfSamples:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Transpile and bundle test script
        run: yarn webpack
      - name: Run local k6 test
        uses: grafana/k6-action@v0.2.0
        with:
          filename: dist/main.js
