name: CI Execução de exemplos de teste de performance
on:
  push:
    branches: [ sample ]
  pull_request:
    branches: [ main ]
jobs:
  perfSamples:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install k6
        run: |
          curl https://github.com/loadimpact/k6/releases/download/v0.26.2/k6-v0.26.2-linux64.tar.gz -L | tar xvz --strip-components 1
      - name: Install packages
        run: |
          npm install
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Transpile and bundle test script
        run: yarn webpack
      - name: Install K6
        run: yarn install
      - name: Run local k6 test
        run: ./k6 run dist/get-200-status-test.js
