name: CI Execução de exemplos de teste de performance
on:
  push:
    branches: [ sample ]
  pull_request:
    branches: [ sample ]
jobs:
  perfSamples:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run k6 local test
        uses: grafana/k6-action@v0.2.0
        with:
          filename: ./dist/get-200-status-test.js
